+ADw-link href+AD0AIg-http://fonts.googleapis.com/css?family+AD0-Source+Code+ProACI- rel+AD0AIg-stylesheet+ACI- /+AD4-

hr +AHs-
  border: 0+ADs-
  border-top: 1px solid black+ADs-
  border-bottom: 1px solid +ACM-fff+ADs-
+AH0-

body+AHs-
  font-family : 'Yu Gothic UI', 'Meirio UI'+ADs-
+AH0-
.main-nav-link +AHs-
  font-family :  'open sans'+ADs-
  font-weight: 300+ADs-
+AH0-

.article-header .article-title +AHs-
  display: block+ADs-
  margin-bottom: 14px+ADs-
+AH0-
.article-title +AHs-
    margin-bottom: 20px+ADs-
    margin-top: 0px+ADs-
    font-size: 30px+ADs-
    color: +ACM-1863A1+ADs-
+AH0-

.article-entry h1,
.widget h1 +AHs-
    margin-bottom: 20px+ADs-
    margin-top: 0px+ADs-
    font-size: 30px+ADs-
    border-left: 8px solid +ACM-337ab7+ADs-
    padding: 7px+ADs-
    border-bottom: 2px solid +ACM-337ab7+ADs-
+AH0-

.article-entry h2,
.widget h2 +AHs-
    margin-bottom: 15px+ADs-
    margin-top: 24px+ADs-
    font-size: 20px+ADs-
    border-left: 8px solid +ACM-337ab7+ADs-
    padding: 7px+ADs-
    border-bottom: 2px solid +ACM-337ab7+ADs-
+AH0-

.article-entry h3,
.widget h3 +AHs-
    margin-bottom: 20px+ADs-
    margin-top: 0px+ADs-
    /+ACo-margin-left: 15px+ADsAKg-/
    font-size: 14px+ADs-
    padding: 7px 0px 5px 8px+ADs-
    border-left: 4px solid +ACM-337ab7+ADs-
    border-bottom: 1px solid +ACM-337ab7+ADs-
+AH0-

.article-entry h4,
.widget h4 +AHs-
  font-size: 1.2em+ADs-
+AH0-

.article-entry h5,
.widget h5 +AHs-
  font-size: 1em+ADs-
+AH0-

.article-entry h6,
.widget h6 +AHs-
  font-size: 1em+ADs-
  color: +ACM-999+ADs-
+AH0-

.article-entry hr,
.widget hr +AHs-
  border: 1px solid +ACM-000000+ADs-
+AH0-


