@font-face{
	font-family:'Migu 1M';
	src: url("/static/fonts/migu-1m-bold.eot");
	url("/static/fonts/migu-1m-bold.woff") format("woff"),
	url("/static/fonts/migu-1m-bold.ttf") format("truetype");
}

body,
.search-form-input,
.search-form-input.ins-search-input,
.search-form-input.st-ui-search-input,
.search-form-input.st-default-search-input,
.article-entry blockquote,
.article-entry blockquote footer,
.article-share-input,
.ins-search-input {
  font: 16px "open sans", "Helvetica Neue", "游ゴシック Medium", "Yu Gothic UI", Helvetica, Arial, sans-serif;
}

pre{
  font-family: "Migu M1", source-code-pro;
  overflow:auto;
}